################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dtbcache.v2
*.futdcache.v2
*.v2
*.vsidx
/.vs/Bc_prace/v17/.suo
/.vs/ProjectEvaluation/bc_prace.metadata.v7.bin
/.vs/ProjectEvaluation/bc_prace.projects.v7.bin
